In [128]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy import distance

In [87]:
data_dir = os.getcwd() + '/yelp_dataset'
print('Loading business data ...')
df_business = pd.read_json(os.path.join(data_dir, 'business.json'), lines=True)

Loading business data ...

In [9]:
df_location = df_business[['business_id', 'latitude', 'longitude']].set_index(['business_id'])
df_location.head()

                         latitude   longitude
business_id
1SWheh84yJXfytovILXOAQ  33.522143 -112.018481
QXAEGFB4oINsVuTFxEYKFQ  43.605499  -79.652289
gnKjwL_1w79qoiV3IC_xQQ  35.092564  -80.859132
xvX2CttrVhyG2z1dFg_0xw  33.455613 -112.395596
HhyxOkGAM07SRYtlQ4wMFQ  35.190012  -80.887223

In [120]:
# DBSCAN - Density-Based Spatial Clustering of Applications with Noise
coords = df_business[['latitude', 'longitude']].values
kms_per_radian = 6371.0088
epsilon = .1 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 37720

In [121]:
df_business['cluster_coords'] = cluster_labels
df_business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state,cluster_coords
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ,0
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON,1
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC,2
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ,3
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC,4

In [122]:
counts_cluster = [len(cluster) for cluster in clusters]
counts_cluster

[1,
 19,
 15,
 2,
 4,
 15,
 4,
 28,
 18,
 1,
 1707,
 302,
 16,
 10,
 52,
 10,
 298,
 51,
 29,
 7715,
 1355,
 7,
 7,
 16,
 4,
 4,
 43,
 7,
 216,
 17,
 187,
 8,
 85,
 16,
 44,
 1,
 8,
 4,
 3,
 6,
 1,
 2,
 184,
 39,
 40,
 19,
 3,
 37,
 19,
 3,
 19,
 1,
 13,
 1,
 9,
 39,
 6,
 6,
 1,
 60,
 289,
 17,
 4,
 2546,
 14,
 1,
 72,
 246,
 667,
 20,
 163,
 1,
 1,
 72,
 21,
 2,
 3,
 735,
 1,
 17,
 25,
 4,
 1,
 5,
 6,
 45,
 1,
 1,
 3,
 303,
 4,
 118,
 4,
 13,
 85,
 17,
 1,
 60,
 153,
 35,
 59,
 64,
 3,
 98,
 48,
 6,
 65,
 23,
 191,
 13,
 2,
 4,
 2,
 15,
 3,
 60,
 2,
 1,
 121,
 1,
 591,
 50,
 66,
 2,
 116,
 48,
 1,
 17,
 111,
 83,
 91,
 24,
 10,
 2,
 3,
 8,
 34,
 219,
 158,
 61,
 37,
 1,
 2,
 14,
 30,
 132,
 14,
 2,
 25,
 3,
 1,
 4,
 5,
 24,
 2,
 80,
 52,
 34,
 7,
 258,
 14,
 12,
 2,
 12,
 17,
 5,
 150,
 68,
 20,
 1767,
 8,
 1,
 92,
 5,
 1,
 15,
 39,
 75,
 12,
 50,
 3,
 3,
 2,
 1,
 12,
 113,
 55,
 10,
 21,
 12,
 2,
 39,
 127,
 1,
 27,
 1,
 20,
 79,
 41,
 2,
 23,
 6,
 1,
 1,
 51,
 2,
 2,
 39,
 4,
 9,
 14,
 141,
 348,
 1,
 60,
 73,
 108,
 2,
 15,
 90,
 10,
 38,
 7,
 138,
 2,
 104,
 49,
 557,
 28,
 54,
 3395,
 11,
 2,
 7,
 2,
 1,
 5,
 20,
 4,
 59,
 108,
 1,
 3,
 15,
 79,
 2,
 10,
 67,
 59,
 3,
 24,
 115,
 18,
 1,
 15,
 3,
 15,
 1,
 4,
 4,
 3,
 11,
 3,
 39,
 6,
 21,
 4,
 22,
 102,
 8,
 29,
 1,
 182,
 142,
 503,
 16,
 84,
 52,
 1,
 11,
 223,
 25,
 14,
 19,
 16,
 57,
 74,
 2,
 7,
 2,
 1,
 99,
 146,
 1,
 10,
 3,
 8,
 2,
 60,
 4,
 1,
 2,
 47,
 427,
 224,
 6,
 27,
 8,
 29,
 8,
 102,
 61,
 36,
 1,
 45,
 14,
 370,
 248,
 2,
 1,
 1,
 154,
 267,
 20,
 28,
 87,
 69,
 156,
 9,
 4,
 16,
 22,
 123,
 264,
 5,
 71,
 20,
 87,
 4,
 23,
 17,
 6,
 29,
 178,
 15,
 13,
 957,
 1,
 239,
 1,
 1,
 3,
 6,
 26,
 4,
 613,
 135,
 36,
 28,
 13,
 11,
 22,
 3,
 69,
 30,
 4,
 20,
 11,
 46,
 25,
 3,
 70,
 547,
 3,
 2,
 4,
 15,
 9,
 63,
 1,
 62,
 7,
 49,
 133,
 35,
 31,
 1,
 13,
 2,
 25,
 105,
 16,
 1,
 652,
 8,
 2,
 1,
 45,
 5,
 184,
 1,
 3,
 1,
 4,
 9,
 532,
 50,
 10,
 46,
 10,
 13,
 6,
 98,
 7,
 14,
 1,
 170,
 27,
 1,
 234,
 2,
 1,
 65,
 5,
 5,
 60,
 26,
 2,
 58,
 9,
 47,
 18,
 25,
 302,
 4,
 1,
 28,
 3,
 14,
 8,
 235,
 1,
 1,
 23,
 3,
 1,
 5,
 1,
 17,
 16,
 2,
 95,
 2,
 2,
 1,
 148,
 26,
 41,
 2,
 19,
 11,
 3,
 1,
 1,
 6,
 40,
 6,
 1,
 11,
 10,
 10,
 6,
 61,
 2,
 11,
 1,
 375,
 136,
 34,
 1,
 5,
 81,
 118,
 12,
 57,
 1,
 120,
 9,
 5,
 48,
 1,
 40,
 5,
 6,
 2,
 30,
 50,
 1,
 206,
 2,
 70,
 543,
 10,
 4,
 25,
 1,
 67,
 56,
 2,
 3,
 57,
 28,
 100,
 23,
 90,
 101,
 207,
 1,
 1,
 77,
 1,
 11,
 2,
 1,
 1,
 3,
 18,
 80,
 12,
 1,
 1,
 6,
 344,
 38,
 2,
 29,
 126,
 20,
 4,
 48,
 16,
 2,
 17,
 1,
 2,
 16,
 4,
 61,
 2,
 12,
 168,
 62,
 44,
 12,
 54,
 27,
 194,
 3,
 27,
 52,
 4,
 7,
 27,
 12,
 44,
 133,
 34,
 72,
 20,
 25,
 109,
 17,
 5,
 6,
 1,
 46,
 3,
 42,
 1,
 69,
 109,
 1,
 9,
 9,
 21,
 107,
 18,
 5,
 112,
 28,
 89,
 27,
 169,
 8,
 2,
 1,
 41,
 163,
 1,
 31,
 23,
 1,
 58,
 131,
 143,
 2,
 13,
 20,
 7,
 124,
 54,
 65,
 6,
 1,
 52,
 47,
 5,
 13,
 29,
 12,
 1,
 3,
 1,
 6,
 77,
 1,
 27,
 36,
 2,
 1,
 34,
 30,
 318,
 87,
 1,
 1,
 51,
 266,
 27,
 196,
 223,
 4,
 4,
 18,
 23,
 1,
 14,
 1,
 18,
 16,
 350,
 2,
 7,
 1,
 2,
 16,
 1,
 42,
 5,
 34,
 8,
 1,
 8,
 13,
 41,
 264,
 260,
 79,
 43,
 28,
 227,
 7,
 8,
 17,
 1,
 1,
 10,
 179,
 1,
 4,
 4,
 65,
 2,
 14,
 93,
 1,
 33,
 1,
 17,
 46,
 30,
 35,
 10,
 21,
 1,
 1,
 105,
 3,
 74,
 4,
 1,
 5,
 23,
 9,
 47,
 13,
 40,
 225,
 27,
 7,
 2,
 14,
 30,
 1,
 1,
 2,
 7,
 9,
 32,
 1,
 99,
 40,
 1,
 10,
 34,
 43,
 2,
 6,
 117,
 2,
 36,
 1,
 62,
 85,
 60,
 24,
 3,
 15,
 1,
 4,
 42,
 37,
 76,
 12,
 3,
 2,
 3,
 10,
 1,
 2,
 42,
 3,
 47,
 113,
 1,
 95,
 3,
 1,
 18,
 7,
 10,
 17,
 7,
 106,
 2,
 3,
 81,
 188,
 26,
 14,
 43,
 28,
 6,
 7,
 42,
 2,
 1,
 1,
 8,
 31,
 19,
 3,
 17,
 3,
 169,
 7,
 5,
 1,
 23,
 15,
 6,
 65,
 18,
 5,
 52,
 9,
 82,
 23,
 10,
 81,
 1,
 1,
 2,
 8,
 403,
 15,
 5,
 5,
 21,
 5,
 102,
 8,
 2,
 167,
 2,
 158,
 1,
 19,
 13,
 21,
 23,
 3,
 1,
 53,
 2,
 188,
 5,
 1,
 3,
 56,
 29,
 78,
 2,
 12,
 1,
 7,
 27,
 70,
 4,
 5,
 21,
 41,
 19,
 1,
 5,
 56,
 10,
 7,
 10,
 1,
 14,
 11,
 17,
 68,
 8,
 44,
 1,
 1,
 2,
 21,
 15,
 4,
 733,
 3,
 144,
 1,
 3,
 3,
 71,
 3,
 4,
 2,
 22,
 1,
 1,
 40,
 51,
 11,
 2,
 1,
 1,
 4,
 3,
 47,
 7,
 1,
 80,
 4,
 15,
 183,
 147,
 24,
 1,
 16,
 7,
 39,
 6,
 52,
 8,
 1,
 16,
 5,
 59,
 22,
 11,
 1,
 31,
 74,
 2,
 67,
 11,
 95,
 6,
 27,
 1,
 72,
 201,
 20,
 20,
 80,
 7,
 36,
 4,
 1,
 91,
 20,
 13,
 7,
 4,
 37,
 10,
 1,
 40,
 14,
 1,
 73,
 2,
 33,
 6,
 8,
 43,
 22,
 62,
 81,
 2,
 5,
 22,
 1,
 114,
 1,
 22,
 2,
 41,
 1,
 24,
 9,
 4,
 70,
 8,
 28,
 1,
 1,
 52,
 9,
 38,
 51,
 17,
 54,
 85,
 57,
 40,
 295,
 79,
 23,
 2,
 25,
 5,
 4,
 1,
 2,
 1,
 12,
 1,
 12,
 3,
 1,
 54,
 3,
 4,
 18,
 22,
 49,
 40,
 14,
 9,
 22,
 19,
 1,
 34,
 50,
 ...]

In [130]:
df_business[df_business['cluster_coords']==7]
coords_1 = (36.099998, -115.077408)
coords_2 = (36.100548, -115.074212)
# get distance in km
distance.geodesic(coords_1, coords_2).km

0.29419740100547215

In [ ]:
# https://geoffboeing.com/2014/08/clustering-to-reduce-spatial-data-set-size/

In [23]:
# TODO: Geopandas to visulize one result
df_business.groupby(['state'],sort=True).count()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars
state,,,,,,,,,,,,,
AB,8012,6405,8012,7998,8012,5882,8012,8012,8012,8012,8012,8012,8012
AK,2,1,2,2,2,1,2,2,2,2,2,2,2
AL,3,1,3,3,3,2,3,3,3,3,3,3,3
AR,1,1,1,1,1,1,1,1,1,1,1,1,1
AZ,56686,48190,56686,56520,56686,45274,56686,56686,56686,56686,56686,56686,56686
BAS,1,1,1,1,1,0,1,1,1,1,1,1,1
BC,1,1,1,1,1,1,1,1,1,1,1,1,1
CA,19,16,19,19,19,11,19,19,19,19,19,19,19
CON,1,1,1,1,1,0,1,1,1,1,1,1,1
CT,3,3,3,3,3,2,3,3,3,3,3,3,3
DOW,1,0,1,1,1,0,1,1,1,1,1,1,1
DUR,1,0,1,1,1,1,1,1,1,1,1,1,1
FL,4,3,4,4,4,4,4,4,4,4,4,4,4
GA,2,2,2,2,2,2,2,2,2,2,2,2,2
IL,1932,1671,1932,1927,1932,1433,1932,1932,1932,1932,1932,1932,1932
NC,14720,12583,14720,14683,14720,11424,14720,14720,14720,14720,14720,14720,14720
NE,2,1,2,2,2,2,2,2,2,2,2,2,2
NJ,1,0,1,1,1,1,1,1,1,1,1,1,1
NM,1,1,1,1,1,1,1,1,1,1,1,1,1
NV,36312,30943,36312,36213,36312,28274,36312,36312,36312,36312,36312,36312,36312
NY,22,21,22,22,22,17,22,22,22,22,22,22,22
OH,14697,12603,14697,14665,14697,11145,14697,14697,14697,14697,14697,14697,14697
ON,33412,27874,33412,33342,33412,24299,33412,33412,33412,33412,33412,33412,33412
PA,11216,9734,11216,11197,11216,8325,11216,11216,11216,11216,11216,11216,11216
QC,9219,8226,9219,9189,9219,6571,9219,9219,9219,9219,9219,9219,9219
SC,1162,961,1162,1159,1162,892,1162,1162,1162,1162,1162,1162,1162
TN,1,1,1,1,1,1,1,1,1,1,1,1,1
TX,6,5,6,6,6,5,6,6,6,6,6,6,6
UT,1,1,1,1,1,1,1,1,1,1,1,1,1
VA,2,0,2,2,2,2,2,2,2,2,2,2,2
VT,2,2,2,2,2,1,2,2,2,2,2,2,2
WA,3,3,3,3,3,3,3,3,3,3,3,3,3
WI,5154,4512,5154,5147,5154,4197,5154,5154,5154,5154,5154,5154,5154
XGL,1,1,1,1,1,1,1,1,1,1,1,1,1
XGM,4,3,4,4,4,2,4,4,4,4,4,4,4
XWY,2,2,2,2,2,1,2,2,2,2,2,2,2