In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy import distance
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from tqdm import tqdm

In [3]:
data_dir = os.getcwd() + '/yelp_dataset'
print('Loading business data ...')
df_business = pd.read_json(os.path.join(data_dir, 'business.json'), lines=True)

Loading business data ...

In [34]:
def business_clustering(df):
    print("Clustering business according to Geo-coordinates ...")
    """
    DBSCAN - Density-Based Spatial Clustering of Applications with Noise
    """
    coords = df[['latitude', 'longitude']].values
    # radius of the earth in km
    kms_per_radian = 6371
    # the minimus distance between two restruants is 50m
    epsilon = .05 / kms_per_radian
    # perform clustering
    db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
    cluster_labels = db.labels_
    num_clusters = len(set(cluster_labels))
    clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
    print('Number of clusters: {}'.format(num_clusters))
    df['coords_cluster_label'] = cluster_labels
    # number of resturants in each cluster
    counts_cluster = [len(cluster) for cluster in clusters]
    df['neighbors'] = [counts_cluster[i] for i in cluster_labels]
    # if the number of neighbors > 20, the resturant in a chain
    df['is_chain'] = df['neighbors'] >=20
    
    return df, clusters

df_business, clusters = business_clustering(df_business)

Clustering business according to Geo-coordinates ...
Number of clusters: 71379

In [69]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return centermost_point
centermost_points = clusters.map(get_centermost_point)
# df_business[df_business['postal_code']=='15203']

In [130]:
df_business[df_business['cluster_coords']==7]
coords_1 = (36.099998, -115.077408)
coords_2 = (36.100548, -115.074212)
# get distance in km
distance.geodesic(coords_1, coords_2).km

0.29419740100547215

In [75]:
df_center_neighbor = pd.DataFrame()
df_center=centermost_points.to_frame()
lat = [df_center[0].values[i][0] for i in range(len(df_center))]
lag = [df_center[0].values[i][1] for i in range(len(df_center))]
df_center_neighbor['latitude'] = lat
df_center_neighbor['longitude'] = lag
cluster_nb = pd.pivot_table(df_business, index=['coords_cluster_label', 'neighbors']).index.values
neighbors = [item[1] for item in cluster_nb]
df_center_neighbor['neighbor'] = neighbors

In [76]:
df_center_neighbor

        latitude   longitude  neighbor
0      33.522143 -112.018481         1
1      43.605628  -79.652810        10
2      35.092564  -80.859132         6
3      33.455613 -112.395596         2
4      35.190026  -80.887197         2
5      43.599475  -79.711584         1
6      50.943646 -114.001828         4
7      36.099854 -115.074767         5
8      33.654836 -112.188118        14
9      41.440825  -81.854097         1
10     51.041877 -114.081543        22
11     33.495462 -112.028378         3
12     35.527367  -80.867884         8
13     41.708520  -81.359556         1
14     41.640674  -81.406479        43
15     43.861503  -79.388499         1
16     33.599373 -111.976761        33
17     36.099837 -115.128918         8
18     36.116549 -115.088115        28
19     43.650091  -79.397982      2082
20     36.169168 -115.140545       300
21     36.225851 -115.132800         1
22     36.080168 -115.182756         5
23     40.495913  -80.246045        14
24     36.271620 -115.264617         3
25     36.195615 -115.040529         4
26     43.754093  -79.349548        10
27     43.658897  -79.383798      2730
28     36.129392 -115.184259         4
29     43.645892  -79.419864       347
...          ...         ...       ...
71349  41.128825  -81.507765         1
71350  40.079970  -88.208518         1
71351  40.422017  -79.658850         1
71352  43.811816  -79.250476         1
71353  33.597206 -112.016756         1
71354  45.480885  -73.786555         1
71355  41.498921  -81.610807         1
71356  35.020566  -80.830881         1
71357  40.469442  -79.985701         1
71358  45.600245  -73.624600         1
71359  41.348457  -81.368122         1
71360  41.419430  -81.917283         1
71361  40.124857  -88.221152         1
71362  43.188724  -89.227899         1
71363  33.538849 -112.168397         1
71364  43.099457  -89.353983         1
71365  33.446978 -112.045158         1
71366  33.442676 -111.954205         1
71367  50.962312 -114.072815         1
71368  40.442484  -79.767630         1
71369  33.392336 -112.005556         1
71370  33.450882 -112.059401         1
71371  40.514292  -80.007399         1
71372  33.380379 -111.734730         1
71373  36.141804 -115.282388         1
71374  51.098425 -113.979688         1
71375  33.433003 -111.759078         1
71376  43.790660  -79.254010         1
71377  43.775089  -79.653807         1
71378  33.679992 -112.035569         1

[71379 rows x 3 columns]

In [ ]:
# https://geoffboeing.com/2014/08/clustering-to-reduce-spatial-data-set-size/

In [90]:
# TODO: Geopandas to visulize one result

In [1]:
# mapbox = 'pk.eyJ1IjoieXV4aWFuZ2dvbmciLCJhIjoiY2p6M2I1ejJnMDFsNjNjcXRpdmw4cjAweCJ9.ecfVq0S-fu56dHr50J2YwQ'
# https://plot.ly/python/scattermapbox/#multiple-markers